<% url = @track.soundcloud_tracks.first.url %>

<script type="text/javascript">
	var playing = true;
	jQuery('div.sc-player').scPlayer({
	  links: [{url: "<%= url %>", title: "<%= url %>"}],
	  autoPlay: true
	});
   	jQuery(document).bind('onMediaTimeUpdate.scPlayer', function(event){
	  jQuery('#slider').css({'margin-left' : jQuery('#progress-bar').width()*event.relative});
	});
	soundcloud.addEventListener('onPlayerReady', function(player, data) {
  		jQuery('#controls .play-btn').click(function() {
  			playing = !playing;
  			var p = playing ? player.api_play() : player.api_pause(); 
  			var bgImg = jQuery(this).css('background-image');
  			if (playing) {
  				bgImg = bgImg.replace('play', 'pause');
  			} else {
  				bgImg = bgImg.replace('pause', 'play');
  			}	
  			jQuery(this).css('background-image', bgImg);
			return false;	
		});
	});
	soundcloud._listeners.onMediaEnd.clear();
	soundcloud.addEventListener('onMediaEnd', function(player, data) {
		jQuery.get("<%= PATH_PREFIX %>/tracks/play/<%= @track.next(@genre_id).id %>?format=js&genre_id=<%= @genre_id %>");
	});
</script>

<div id="controls">
	<%= link_to "", "#{PATH_PREFIX}/tracks/play/#{@track.previous(@genre_id).id}?genre_id=#{@genre_id}", :id => "prev-button", :remote => true %>
	<%= link_to "", "#{PATH_PREFIX}/tracks/play/#{@track.id}?genre_id=#{@genre_id}", :class => "play-btn playing", :remote => true %>
	<%= link_to "", "#{PATH_PREFIX}/tracks/play/#{@track.next(@genre_id).id}?genre_id=#{@genre_id}", :id => "next-button", :remote => true %></div>
<span id="track-name"><%= @track.full_name %></span>
<%= link_to "", "#{PATH_PREFIX}/tracks/like/#{@track.id}", :id => "like-button", :class => "like-btn", :remote => true %>
<span id="track-duration"><%= @track.soundcloud_tracks.first.pretty_duration %></span>
<div id="progress-bar"><div id="slider"></div></div>