<ul id="tracks">
	 <% for track in @tracks %>
		<li class="<%= track.genre.name.parameterize %>"><%= link_to "", "#{PATH_PREFIX}/tracks/play/#{track.id}", :class => "play-btn", :remote => true %><%= link_to track.full_name, "#{PATH_PREFIX}/tracks/play/#{track.id}", :class => 'track', :remote => true %><%= link_to "", "#{PATH_PREFIX}/tracks/like/#{track.id}", :class => "like-btn", :remote => true %></li>
	<% end %>
</ul>
<div id="pagination"><%= will_paginate @tracks, :previous_label => '', :next_label => '' %></div>