<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>The Predrink</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag "jquery-1.6.2.min" %>
<%= javascript_include_tag "soundcloud.player.api" %>
<%= javascript_include_tag "sc-player" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>

<body>
	<div class="sc-player">
		<a href="http://soundcloud.com/matas/hobnotropic">My dub track</a>
	</div>
	<div id="sidebar">
        <div id="what-is"></div>
        <div id="spread-word">
        	<div id="facebook"><%= image_tag "share-bubble.png" %><%= image_tag "share.png" %></div>
        	<div id="tweeter"><%= image_tag "tweet-bubble.png" %><%= image_tag "tweet.png" %></div>
        </div>
        <div id="fb-widget"><%= image_tag "fb-widget.jpg" %></div>
    </div>
    <div id="main-content">
    	<div id="header">
        	<%= link_to (image_tag "the-predrink2.png", :id => 'logo'), root_path %>	            
        </div>
        <%= render "shared/genres" %>
        <ul id="select-by">
        	<li><%= link_to "This Week", "#{PATH_PREFIX}/?show=this-week", :remote => true %></li>
        	<li><%= link_to "This Month", "#{PATH_PREFIX}/?show=this-month", :remote => true %></li>
        	<li><%= link_to "All Time", "#{PATH_PREFIX}/?show=all-time", :remote => true %></li>
		</ul>
        <div id="tracklist">
        	<%= yield %>
        </div>
    </div>
	<div id="footer">
    	<div id="footer-holder">
        </div>
    </div>
</body>
</html>